* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ca9ef1;
}

div {
  background-color: #b368e2;
  border: 2px solid black;
  border-radius: 9px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
	display: block;
  padding: 5px;
  margin: 8px;
}

h3, button {
  margin: 8px;
}

label {
  margin: 4px;
  padding: 4px;
}

#mensagem { 
  background-color: #27ae60;
  margin: 8px;
  padding: 10px;
  color: #fff;
  display: none;
  border-radius: 7px; 
}
