* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #636e7e;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(77, 77, 224);
    color: #fff;
    padding: 8px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 8px ;

}

.articles article a:hover {
    text-decoration: underline;

}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 225, 0, 0.1);
}

#sports .articles article a  {
    background-color: rgba(0, 225, 0, 0.6);
}


#economy {
    background-color: #f5f3ce;
}

#economy .articles article a  {
    background-color: #fab24c;
}

#enter {
    background-color: rgba(239, 125, 192, 0.1);
}

#enter .articles article a  {
    background-color: rgba(237, 115, 192, 0.6);
}

#tech {
    background-color: rgba(37, 52, 220, 0.1);
}

#tech .articles article a  {
    background-color: rgba(93, 86, 237, 0.6);
}

